@mixin songBox {
  width: 200px;
  font-size: 13px;
  background-color: #2D3538;
  color: white;
}

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1449960238630-7e720e630019");
  background-size: 100% auto;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  text-align: center;
  letter-spacing: 1.75px;
}

audio {
  width: 400px;
  margin: 0px 32%;
  margin-bottom: 0px;
}

.nowPlaying {
  margin: 2px auto;
  margin-bottom: 5px;
  font-size: 14.5px;
  width: 600px;
  height: 30px;
  text-align: center;
  color: gray;
}

.searchBox {
  text-align: center;
  margin: 10px auto;

  #search {
    border: none;
    height: 25px;
    width: 240px;
  }
  input {
    padding-left: 7px;
    font-size: 14.5px;
    background-color: #FAFAFA;
  }
  input::-webkit-input-placeholder {
    padding-left: 5px;
    font-size: 13px;
  }
  button {
    color: #E6E8E5;
    background-color: #545355;
    border: 1px;
    margin-left: -5px;
    margin-top: -1px;
  }
  button:hover {
    background-color: #ABA9AA;
  }
}
.results {
  margin-top: -30px;
}

.song {
  float: left;
  margin-top: 50px;
  height: 240px;
  opacity:1.0;
  padding: 10px;

  .image {
    @include songBox;
    height: 180px;
    margin-bottom: 0px;
  }
  .title {
    @include songBox;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -5px;
    height: 40px;
    overflow: auto;
  }
  .artist {
    @include songBox;
    color: lightgrey;
    padding-left: 5px;
    padding-bottom: 5px;
    color: lightgreen;
    height: 20px;
    overflow: auto;
  }
}
.song:hover {
  opacity: 0.5;
}

.songArtist {
  color: green;
}
